<div class="sidebar-editing-detail">

	<div class="bb-buttons bb-buttons-left sidebar-editing-toolbar">
		<SWCtrl controlname="Button" props="ID:btnNew;Caption:New;Class:bb-button bb-button-toolbar bb-button-primary;Disabled:;OnClick:NewButtonSidebarClick('5F92EBCB-6EBE-4F7B-9E72-2C72353EB009');Size:;Style:;TabIndex:;Tooltip:Create an announcement.;usebuttontag:true;" />

        <swctrl props="ID:SortControl1;Caption:Sort;DisplayField:schoolName;Tooltip:Sort my schools.;Heading:Sort Schools;Class:bb-button bb-button-toolbar;UseButtonTag:true;" controlname="SortControl" />
	</div>



<table class="ui-table">
	<tr class="ui-row-heading">
		<th>Status</th>
		<th>School</th>
		<th>Actions</th>
	</tr>

<<$SW-REPEATER$>>

<tr>

	<td class="ui-cell-active">
		<swctrl controlname="ActivationControl" props="Value:[$Active$]" alt="Change status." />
	</td>

	<td class="ui-cell-detail">
		<div class="ui-article-header">
			<h1><SWCtrl controlname="LinkEvent" props="EventType:OnClick;OnClick:EditButtonSidebarClick('94C37CCA-2F16-4BFF-8FCF-D794371453D5');Caption:[$schoolName$];" /></h1>
		</div>
	</td>

	<td class="ui-cell-actions">
		<SWCtrl controlname="Button" props="ID:btnEdit;Caption:Edit;Class:bb-button bb-button-list bb-button-primary;Disabled:;OnClick:EditButtonSidebarClick('94C37CCA-2F16-4BFF-8FCF-D794371453D5');Size:;Style:;TabIndex:;Tooltip:Edit my announcement.;usebuttontag:true;" />

        <SWCtrl controlname="Button" props="ID:btnDelete;Caption:Delete;Class:bb-button bb-button-list bb-button-warning;Disabled:;OnClick:DeleteButtonClick('00000000-0000-0000-0000-000000000000');Size:;Style:;TabIndex:;Tooltip:I don’t need this announcement at all anymore.;ConfirmMessage:Are you sure you want to permanently delete your announcement?;GrowlMessage:Success! You have deleted your announcement.;usebuttontag:true;" />
	</td>
</tr>

<<$/SW-REPEATER$>>

</table>
<swctrl controlname="Paging" props="ID:txtPaging;RecordsPerPage:25" />
<SWCtrl controlname="NoRecord" props="Text:We noticed that you don’t have any schools. Click New to get started.;" />

</div>
<div class="bb-buttons bb-buttons-left sidebar-editing-pin-bottom">

    	<button class="bb-button bb-button-primary" onclick="closeEditingPanel();" tabindex="0"><span>I'm Done</span></button>

</div>
<script type="text/javascript">
$.getScript("//extend.schoolwires.com/creative/scripts/creative/tools/custom-app-settings/cs.app.settings.min.js", function() {
    $.csAppSettings({
        "MIID": [$ModuleInstanceID$],
        "PMIID": [$PageModuleInstanceID$],
        "virtualFolder": "[$VirtualFolder$]",
        "settingsButton": {
            "buttonText": "Settings", // SETTINGS BUTTON TEXT
            "buttonClass": "bb-button bb-button-toolbar bb-button-primary test", // CLASS(ES) THAT WILL BE ADDED TO THE SETTINGS BUTTON
            "buttonContainer": ".bb-buttons.bb-buttons-left.sidebar-editing-toolbar" // CONTAINER THAT THE SETTINGS BUTTON WILL BE APPENDED TO
        },
        "inputControls": [
            {
            "label": "Google Maps API Key", // INPUT LABEL
            "labelNote": "", // SUB-NOTE FOR THE LABEL
            "id": "gMapAPI",  // INPUT ID - WILL ALSO BE USED AS THE SETTING KEY
            "type": "text", // INPUT TYPE (text, checkbox, colorpicker, textarea, select)
            "default": "" // DEFAULT VALUE FOR THIS INPUT (text, true/false for checkbox, hex color code, etc)

        }
        ]
    });
});
</script>











<script type="text/javascript" src="//extend.schoolwires.com/creative/scripts/creative/tools/custom-app-settings/cs.app.settings.min.js"></script>
<script type="text/javascript">
$.csAppSettings({
	"MIID": [$ModuleInstanceID$],
    "virtualFolder": "[$VirtualFolder$]",
    "setInitialScript": true, // THIS IS SET TO TRUE ON THE WCM LIST VIEW ONLY - IT CHECKS TO SEE IF THE SETTINGS FILE EXISTS YET AND CREATES IT IF NOT WITH ALL OF THE DEFAULTS SET BELOW
    "settingsContainer": "#cs-app-settings-wrapper", // ID OF SETTINGS CONTAINER WHERE CONTROLS WILL BE PLACED
    "inputControls": [
    	{
            "label": "Google Maps API Key", // INPUT LABEL
            "labelNote": "", // SUB-NOTE FOR THE LABEL
            "id": "gMapAPI",  // INPUT ID - WILL ALSO BE USED AS THE SETTING KEY
            "type": "text", // INPUT TYPE (text, checkbox, colorpicker, textarea, select)
            "default": "" // DEFAULT VALUE FOR THIS INPUT (text, true/false for checkbox, hex color code, etc)

        }
    ]
});
</script>
